<config>
    <modules>
        <Kir_Giftregistry>
            <version>0.0.1</version>
        </Kir_Giftregistry>
    </modules>
    <global>
        <models>
            <kir_giftregistry>
                <class>Kir_Giftregistry_Model</class>
                <resourceModel>kir_giftregistry_mysql4</resourceModel>
            </kir_giftregistry>
        </models>
        <kir_giftregistry_mysql4>
            <class>Kir_Giftregistry_Mysql4</class>
            <entities>
                <entity>
                    <table>kir_giftregistry_entity</table>
                </entity>
                <item>
                    <table>kir_giftregistry_item</table>
                </item>
                <type>
                    <table>kir_giftregistry_type</table>
                </type>
            </entities>
        </kir_giftregistry_mysql4>
        <resources>
            <kir_giftregistry_setup>
                <setup>
                    <module>Kir_Giftregistry</module>
                </setup>
            </kir_giftregistry_setup>
            <kir_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kir_giftregistry_read>
            <kir_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kir_giftregistry_write>
        </resources>
        <helpers>
            <kir_giftregistry>
                <class>Kir_Giftregistry_Helper</class>
            </kir_giftregistry>
        </helpers>
        <blocks>
            <kir_giftregistry>
                <class>Kir_Giftregistry_Block</class>
            </kir_giftregistry>
        </blocks>
    </global>
</config>