<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Homepage>
            <version>1.0.0</version>
        </Ainstainer_Homepage>
    </modules>

    <global>
        <blocks>
            <homepage>
                <class>Ainstainer_Homepage_Block</class>
            </homepage>
        </blocks>
        <blocks>
            <banners>
                <class>Ainstainer_Homepage_Block</class>
            </banners>
        </blocks>
        <models>
            <homepage>
                <class>Ainstainer_Homepage_Model</class>
                <resourceModel>homepage_resource</resourceModel>
            </homepage>
            <homepage_resource>
                <class>Ainstainer_Homepage_Model_Resource</class>
                <entities>
                    <slider>
                        <table>homepage_slider</table>
                    </slider>
                </entities>
            </homepage_resource>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <ainstainer_homepage>
                    <file>ainstainer/homepage.xml</file>
                </ainstainer_homepage>
            </updates>
        </layout>
        <routers>
            <ain_homepage>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Homepage</module>
                    <frontName>homepage</frontName>
                </args>
            </ain_homepage>
        </routers>
    </frontend>

</config>