<config>

    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Cartband_Configviewer_model_observer>
                        <type>singleton</type>
                        <class>Cartband_Configviewer_model_observer</class>
                        <method>checkForConfigRequest</method>
                    </Cartband_Configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

</config>