<?xml version="1.0"?>
<config>
    <global>
        <models>
            <demo>
                <class>Ainstainer_Demo_Model</class>
            </demo>
        </models>
        <blocks>
            <demo>
                <class>Ainstainer_Demo_Block</class>
            </demo>
        </blocks>
        <helpers>
            <demo>
                <class>Ainstainer_Demo_Helper</class>
            </demo>
        </helpers>
        <events>
            <customel_login>
                <observers>
                    <demo>
                        <type>model</type>
                        <class>demo/observer</class>
                        <method>logCustomer</method>
                    </demo>
                </observers>
            </customel_login>
        </events>
    </global>

    <frontend>
        <routers>
            <ainstainer_demo>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </ainstainer_demo>
            <!--<catalog>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<demo before="Mage_Catalog">Ainstainer_Demo</demo>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</catalog>-->
        </routers>
    </frontend>
</config>