.page-banners img {
    display: inline;
    width: 33.3%;
}

.page-banners {
    margin: 10px 0;
}

#contact-map {
    width: 50%;
    height: 344px;
    float: right;
}

#contact-map:after{
    content: '';
    display: block;
    clear: both;
}

#contactForm {
    width: 49%;
    float: left;
}